body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
#logo{
  margin-left:15px;
  color:rgb(221, 61, 61);
  font-family: fantasy;
  
}

header {
  padding: 20px 0;
}



header h2 {
  font-weight: 700;
  margin: 0;
  color:rgb(209, 47, 47);
}

headers nav {
  display: flex;
  justify-content: flex-end;
}

#searchbar,#searchbutton,#submitbutton {
  display: inline-block;
  height: 5px;
}

header p {
  padding: 0 10px;
  margin: 0;
  display: inline-block;

}

#link{
    font-size: 14px;
    justify-content: flex-start;
    background-color: rgb(231, 75, 75); 

}

header form {
   margin:10px;
   position: relative;
   width: 80%;

}

header button { 
   background-color:rgb(218, 189, 189);
}
#skickaorder { 
  background-color:rgb(218, 189, 189);
  margin-bottom: 20px;
}




.col-md-4 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

#yourOrderIsPink{
  background-color: pink;
  padding:5px;
}
/*
.orderLayout{
  display:inline-block;
}
*/

.productPrice{
  display:inline-block;
}



#totalPrice {
  width:80px;
  background-color: white;
  margin:5px;
 
}
.cac_resul{
  display: inline;
}

#caculate{
  background-color:rgb(218, 189, 189);
}


.fa {
  padding: 5px;
  font-size: 18px;
  width: 26px;
  text-align: center;
  text-decoration: none;
  margin: 2px 1px;
  display: inline-block;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-google {
background: #dd4b39;
color: white;
}


.nav {
  background-color: pink;
  color:white;
}
footer{
  padding:10px;
  background-color: pink;
  height:60px;
}
.icon-bar {
  background-color:lightyellow;
}
#qty1, #qty2 {
  width:80px;
}
